- Alpha: 0.5
  Cell Size: 1
  Class: rviz/Grid
  Color: 160; 160; 164
  Enabled: true
  Line Style:
    Line Width: 0.03
    Value: Lines
  Name: DISPLAY_NAME
  Normal Cell Count: 0
  Offset:
    X: 0
    Y: 0
    Z: 0
  Plane: XY
  Plane Cell Count: 10
  Reference Frame: <Fixed Frame>
  Value: true
